@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--el-bg-color);
}
#app {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}